.character-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;

}

.grid-status {
    text-align: center;
    padding: 50px;
    font-style: italic;
    color: #888;
}